<input ng-model="query" id="search" placeholder="Search">
<table class="table table-striped">
  <tr>
    <th>Reviews</th>
    <th>Brand</th>
    <th>Coffee Title</th>
    <th>Country</th>
  </tr>
  <tr ng-repeat="coffee in coffees | filter:query | orderBy:orderProp">
    <td><a href="#/reviews/{{coffee.id}}">Reviews</a></td>
    <td>{{coffee.brand}}</td>
    <td>{{coffee.name}}</td>
    <td>{{coffee.country}}</td>
  </tr>    
</table>

